<section>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Data</th>
        <th scope="col">Valor</th>
        <th scope="col">Variação em relaçào a D-1</th>
        <th scope="col">Variação em relação a primeira data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>01/01/2021</td>
        <td>R$ 1,00</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>2</td>
        <td>02/01/2021</td>
        <td>R$ 1,10</td>
        <td>10%</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>03/01/2021</td>
        <td>R$ 1,05</td>
        <td>-4,54%</td>
        <td>5%</td>
      </tr>
    </tbody>
  </table>
</section>
