<h5>{{ quotes[0]?.symbol }}</h5>

<nav class="text-end mb-2">
  <button
    class="btn btn-outline-primary me-1"
    [ngClass]="{ active: !tabChart }"
    (click)="showChart(false)"
    title="Lista">
    <fa-icon [icon]="faChartSimple"></fa-icon>
  </button>
  <button
    class="btn btn-outline-primary"
    [ngClass]="{ active: tabChart }"
    (click)="showChart(true)"
    title="Gráfico">
    <fa-icon [icon]="faChartLine"></fa-icon>
  </button>
</nav>

<app-table [quotes]="quotes" *ngIf="!tabChart"></app-table>

<app-chart [quotes]="quotes" *ngIf="tabChart"></app-chart>

<app-loader *ngIf="isLoading"></app-loader>
